

body{
	background-color: white;
}
.login-container{
	height: 100vh;
}
.o-hidden{
	overflow: hidden!important;
}
.card-login{
	height: 100%;
}
.bg-register-image img{
	/*background-image: url('{{ asset('image/image_register.jpg') }}') ;*/
	width: 100%;
	background-position: center;
	background-size: cover;
}
.img-login{
	background-image: url("/public/images/login-3.jpg");
	background-position: center;
	background-size: cover;
}
.bg-login-left{
	background-image: url("/public/images/plan.png");
	background-position: center;
	background-size: cover;
}
.bg-login-right{
	background-image: url("/public/images/Date.png");
	background-position: center;
	background-size: cover;
}
.register-image-left{
	background-image: url("/public/images/plan2.png");
	background-position: center;
	background-size: cover;
}
.register-image-right{
	background-image: url("/public/images/Date.png");
	background-position: center;
	background-size: cover;
}
form.user input{
	font-size: .8rem;
	border-radius: 10rem;
	padding: .8rem;
}
.form-group{
	margin-bottom: 1rem;
}
a.small{
	text-decoration: none;
}
a.small:hover{
	text-decoration: underline;
}
button.btn-lg{
	border-radius: 10rem;
}
form i.register-eye{
	float: right;
	margin-top: -31px;
    cursor: pointer;
}
form i.login-eye{
	float: right;
	margin-top: -35px;
    cursor: pointer;
}
